In [57]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
import seaborn as sns
import chardet
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [58]:
with open("dataset.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read())
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [59]:
df = pd.read_csv("dataset.csv", encoding='Windows-1252')

In [60]:
df.head(5)

,subject,Customer,Location,Rating,date_time,Views,complaint,Total_reviews_by_customer,Customer_follower
0,Cheaters,ambajirao_a,Bangalore India,1,"Apr 22, 2014 05:22 PM",9558 Views,Third class service and they are cheaters. Nev...,2 Reviews,1 Follower
1,"Well, think again!!!!!",deekshasethi,new delhi india,4,"Mar 13, 2006 09:41 PM",3548 Views,Its true that insurance is a services based in...,7 Reviews,6 Followers
2,Metlife is the worst insurance company,lijok,Kochi India,1,"Jun 04, 2013 09:08 AM",9311 Views,I have taken a Metlife policy in 2008 August w...,1 Review,NaN
3,HAVE U MET LIFE TODAY??????,Kiran4,mumbai india,4,"Oct 14, 2004 02:06 PM",15309 Views,Scene 1 : A lady weeping besides the dead body...,15 Reviews,28 Followers
4,Irresponsible persons working over there in PNB,srikanthkumar.a,Bengaluru/ Bangalore India,1,"May 31, 2017 07:30 PM",3480 Views,"Once policy created, no one look back to cust...",1 Review,NaN

In [61]:
df = df.dropna()
#df.head()
df.columns

Index(['subject', 'Customer', 'Location', 'Rating', 'date_time', 'Views',
       'complaint', 'Total_reviews_by_customer', 'Customer_follower'],
      dtype='object')

In [62]:
#df[['Views','Total_reviews_by_customer','Customer_follower']] = df[['Views','Total_reviews_by_customer','Customer_follower']].replace(np.NaN,0)
df['Views'] = df['Views'].map(lambda x:x.strip(' Views'))
df['Total_reviews_by_customer'] = df['Total_reviews_by_customer'].map(lambda x:x.strip(' Reviews'))
df['Customer_follower'] = df['Customer_follower'].map(lambda x:x.strip('Follower Followers'))

In [63]:
X=df['complaint']
y=df['Rating']

In [64]:
tfidf_n = TfidfVectorizer(ngram_range=(1,2),stop_words = 'english')
text_fit(X, y, tfidf_n, LogisticRegression())

# features: 5828
# train records: 31
# test records: 11
Model Accuracy: 0.45454545454545453

-Top 20 positive-
Coefficient              Word
   0.276063              year
   0.225426              fund
   0.204092             fraud
   0.177885         surrender
   0.168572                fd
   0.150129  surrender policy
   0.143288                rs
   0.142240           charges
   0.134021              want
   0.131528          products
   0.127995             value
   0.117626           details
   0.116511        fund value
   0.113211            policy
   0.108996       surrendered
   0.108013              told
   0.107350          benefits
   0.107233              help
   0.102202           courier
   0.101170            market

-Top 20 negative-
Coefficient            Word
  -0.115936           icici
  -0.118202             lic
  -0.119565       execution
  -0.121356        services
  -0.134702     application
  -0.143623             bad
  -0.149190            life
  -0.150465         assured
  -0.151968         premium
  -0.157680           years
  -0.158761         payment
  -0.159340            term
  -0.161118     sum assured
  -0.164630              ur
  -0.177415     pnb metlife
  -0.182407             sum
  -0.199822  life insurance
  -0.209777          online
  -0.210242       insurance
  -0.289888    metlife life

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [67]:
#c = CountVectorizer(stop_words = 'english')

#text_fit(X, y, c, LogisticRegression())

It is not completed yet.